@charset "utf-8";

/* Exhibition
----------------------------------*/
ul#exhibition {
	overflow: hidden;
	list-style: none;
	position: relative;
}

ul#exhibition li {
	position: absolute;
}

ul#exhibition li a {
	display: block;
	padding: 10px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

ul#exhibition li.active a {
	background: #3c94af;
}


/* Controller
----------------------------------*/
p.control {
	text-align: center;
	overflow: hidden;
	margin: 0px auto;
	width: 274px;
	position: relative;
	top: 30px;
}

p.control strong.max {
	font-weight: normal;
	font-size: 1.6em;
}

p.control strong.current {
	font-family: Georgia;
	font-size: 2.5em;
	font-weight: normal;
}

p.control span.status {
	padding-top: 14px;
	display: inline-block;
}

p.control a {
	text-indent: -9999px;
	display: block;
	height: 60px;
	width: 82px;
	outline: none;
}

p.control a#prev {
	background: url(../images/horizontal/btn_prev.png) no-repeat left top;
	float: left;
}

p.control a#next {
	background: url(../images/horizontal/btn_next.png) no-repeat left top;
	float: right;
}

p.control a#prev:hover,
p.control a#next:hover {
	background-position: -82px top;
}