@charset "utf-8";

ul#exhibition {
	overflow: hidden;
	list-style: none;
}

ul#exhibition li {
	position: absolute;
	height: 500px;
}

ul#exhibition li a {
	display: block;
	padding: 10px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

ul#exhibition li.active a {
	background: #3c94af;
}
