@charset "utf-8";

/* Exhibition
----------------------------------*/
ul#exhibition {
	overflow: hidden;
	list-style: none;
	position: relative;
	margin: 0px auto 0px 250px;
}

ul#exhibition li {
	position: absolute;
}

ul#exhibition li a {
	display: block;
	padding: 10px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

ul#exhibition li.active a {
	background: #3c94af;
}


/* Controller
----------------------------------*/
p.control {
	text-align: left;
	position: absolute;
	margin-top: -70px;
	top: 50%;
	height: 140px;
	left: 400px;
	text-transform: uppercase;
}

p.control a {
	text-indent: -9999px;
}

p.control a#prev {
	display: block;
	margin-bottom: 20px;
	background: url(../images/vertical/btn_prev.png) no-repeat left top;
	height: 60px;
	width: 60px;
	outline: none;
}

p.control a#next {
	display: block;
	background: url(../images/vertical/btn_next.png) no-repeat left top;
	height: 60px;
	width: 60px;
	outline: none;
}

p.control a#prev:hover,
p.control a#next:hover {
	background-position: -60px top;
}


/* Preview
----------------------------------*/
div#preview {
	position: absolute;
	top: 50%;
	margin-left: 500px;
	background: #333333;
	padding: 15px 15px 15px 15px;
	width: 495px;
}

div.container {
	overflow: hidden;
}

div.container h2 {
	margin-bottom: 10px;
	color: #ffffff;
}

div.container img {
	padding: 5px;
	background: #cccccc;
	float: left;
	margin-right: 15px;
}

div.container {
	color: #ffffff;
}

div.container a {
	color: #b7dfe7;
}

p.loading {
	color: #ffffff;
	top: -50px;
	left: 50%;
	margin-left: -70px;
	text-align: center;
	position: absolute;
	background: url(../images/vertical/bgi_tip.gif) no-repeat center bottom;
	padding: 5px 20px 15px 20px; 
} 
