@charset "utf-8";

ul#exhibition {
	overflow: hidden;
	list-style: none;
	position: relative;
	margin: 0px auto 0px 250px;
}

ul#exhibition li {
	position: absolute;
}

ul#exhibition li a {
	display: block;
	padding: 10px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

ul#exhibition li.active a {
	background: #3c94af;
}

p.control {
	text-align: left;
	position: absolute;
	margin-top: -100px;
	top: 50%;
	height: 200px;
	left: 400px;
	text-transform: uppercase;
}

p.control a {
	text-indent: -9999px;
}

p.control a#prev {
	display: block;
	margin-bottom: 20px;
	background: url(../images/vertical/btn_prev.png) no-repeat left top;
	height: 60px;
	width: 60px;
	outline: none;
}

p.control a#next {
	display: block;
	background: url(../images/vertical/btn_next.png) no-repeat left top;
	height: 60px;
	width: 60px;
	outline: none;
}

p.control a#prev:hover,
p.control a#next:hover {
	background-position: -60px top;
}

div#preview {
	position: absolute;
	top: 50%;
/*	left: 50%; */
	margin-left: 500px;
	background: #333333;
	padding: 15px 15px 5px 15px;
	width: 495px;
/*	margin-left: -248px; */
}

div#preview h2 {
	margin-bottom: 10px;
	color: #ffffff;
}

div#preview img {
	padding: 5px;
	background: #cccccc;
	float: left;
	margin-right: 15px;
}

div#preview p.description {
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}
