@charset "utf-8";



p.control {
	padding-top: 30px;
	text-align: center;
}

ul#exhibition {
	overflow: hidden;
	list-style: none;
	position: relative;
}

ul#exhibition li {
	float: left;
	position: absolute;
}

ul#exhibition li a {
	display: block;
	padding: 15px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

canvas#left {
	top: 0px;
	left: 0px;
	z-index: 1;
	position: absolute;
	height: 272px;
	width: 139px;
/*	background: url(../images/left.png) repeat-y left top; */
}

canvas#right {
	left: 841px;
	top: 0px;
	z-index: 1;
	position: absolute;
	height: 272px;
	width: 139px;
/*	background: url(../images/right.png) repeat-y left top; */
}

p#copyright {
	text-align: center;
}
