@charset "utf-8";

/* Structure
---------------------------------*/
body {
	background: url(../images/wall.jpg) no-repeat center bottom;
	background-attachment: fixed;
	height: 100%;
}

html {
	height: 100%;
}

div#warpper {
	margin: 0px auto;
	text-align: left;
}

div#container {
	text-align: left;
	margin: 0px auto 0px auto;
	overflow: hidden;
}

* html div#container {
	height: 100%;
}

body > #container {
	height: auto;
}



/* Sidebar
---------------------------------*/
div#sidebar {
	width: 150px;
	padding: 0px 15px;
	background: #000000;
	opacity: 0.8;
	position: absolute;
	left: 50px;
	top: 0px;
	z-index: 9999;
	height: 100%;
}

div#sidebar h1 {
	font-size: 2.6em;
	margin-top: 50px;
	text-transform: uppercase;
	color: #ffffff;
}

ul#gnavi {
	list-style: none; 
	margin: 0px 0px 25px 0px;
}

ul#gnavi li {
	font-size: 1.0em;
	margin-bottom: 25px;
	text-transform: uppercase;
}

ul#gnavi li a {
	list-style: none; 
	color: #ffffff;
}

ul#gnavi li a:hover {
	color: #3c94af;
}

ul#gnavi li a.active {
	font-weight: bold;
	color: #3c94af;
}

ul#gnavi li h2,
ul#gnavi li ul,
ul#gnavi li ul li {
	font-size: 100%;
}

ul#gnavi li ul {
	list-style: none; 
}

ul#gnavi li ul li {
	margin-bottom: 10px;
}

ul#gnavi li h2 {
	font-size: 100%;
	border-bottom: 1px solid #cccccc;
	margin-bottom: 10px;
	color: white;
	padding-bottom: 5px;
}





dl#properties dt {
	color: #ffffff;
	text-transform:uppercase;
	font-weight: bold;
}

dl#properties dd {
	color: #ffffff;
	margin-bottom: 15px;
}

dl#properties dd p {
	font-size: 1.0em;
	color: #ffffff;
}

dl#properties dd a {
	color: #ffffff;
}

dl#properties dd a:hover {
	color: #3c94af;
}


/* Footer
---------------------------------*/
div#footer {
	width: 400px;
	position: absolute;
	top: 75%;
	left: 75%;
}

p.avatar {
	text-align: right;
}

p.avatar a {
	padding: 5px;
	background: #cccccc;
	display: inline-block;
}


div#developer {
	overflow: hidden;
	padding-right: 15px;
}

div#developer ul {
	float: right;
	list-style: none;
	text-align: right;
	margin-bottom: 15px;
}

div#developer ul strong {
	padding-right: 5px;
	text-transform: uppercase;
	font-size: 95%;
}



p#copyright {
	padding-right: 15px;
	float: right;
	text-align: right;
}



div#container.howto {
	margin-left: 250px;
}
