@charset "utf-8";

body {
	background: url(../images/wall.jpg) no-repeat center bottom;
	background-attachment: fixed;
	height: 100%;
}

html {
	height: 100%;
}

div#warpper {
	margin: 0px auto;
	text-align: left;
}

div#container {
	text-align: left;
	margin: 0px auto 0px auto;
	overflow: hidden;
}

* html div#container {
	height: 100%;
}

body > #container {
	height: auto;
}

div#sidebar {
	width: 150px;
	padding: 0px 15px;
	background: #000000;
	opacity: 0.8;
	position: absolute;
	left: 50px;
	top: 0px;
	z-index: 9999;
}

div#sidebar h1 {
	font-size: 2.6em;
	margin-top: 50px;
	text-transform: uppercase;
	color: #ffffff;
}

ul#gnavi {
	list-style: none; 
	margin: 0px 0px 25px 0px;
}

ul#gnavi li {
	font-size: 0.8em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

ul#gnavi li a {
	list-style: none; 
	color: #ffffff;
}

ul#gnavi li a:hover {
	color: #3c94af;
}

ul#gnavi li a.active {
	font-weight: bold;
	color: #3c94af;
}


dl#properties dt {
	color: #ffffff;
	text-transform:uppercase;
}

dl#properties dd {
	color: #ffffff;
	margin-bottom: 15px;
}

dl#properties dd p {
	font-size: 1.0em;
	color: #ffffff;
}

dl#properties dd a {
	color: #ffffff;
}

dl#properties dd a:hover {
	color: #3c94af;
}



div#footer {
	width: 100%;
	position: absolute;
	top: 85%;
}

div#developer {
	overflow: hidden;
}

div#developer ul {
	float: right;
	padding-right: 15px;
	list-style: none;
	text-align: right;
	margin-bottom: 15px;
}

div#developer ul strong {
	padding-right: 5px;
	text-transform: uppercase;
	font-size: 95%;
}

div#footer {
	width: 400px;
	position: absolute;
	top: 85%;
	left: 75%;
}

p#copyright {
	padding-right: 15px;
	float: right;
	text-align: right;
}
