@charset "utf-8";

body, html {
	height: 100%;
}

div#container {
	text-align: left;
	margin: 0px auto 0px auto;
	overflow: hidden;
}

* html div#container {
	height: 100%;
}

body > #container {
	height: auto;
}

ul#exhibition {
	overflow: hidden;
	list-style: none;
	position: relative;
}

ul#exhibition li {
	position: absolute;
}

ul#exhibition li a {
	display: block;
	padding: 10px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

ul#exhibition li.active a {
	background: #3c94af;
}
