@charset "utf-8";

h1 {
	font-size: 1.2em;
	text-transform: uppercase;
	position: absolute;
	z-index: 2;
	background: #333333;
	padding: 5px 15px;
	color: #FFFFFF;
}

div#container {
	overflow: hidden;
}

ul#exhibition {
	overflow: hidden;
	list-style: none;
	position: relative;
}

ul#exhibition li {
	position: absolute;
}

ul#exhibition li a {
	display: block;
	padding: 10px;
	background: #333333;
}

ul#exhibition li a:hover {
	background: #3c94af;
}

ul#exhibition li.active a {
	background: #3c94af;
}

